p {
  font-size: 20px;
  color: rgb(88, 52, 28);
}
.container {
  height: 100vh;
}
.text-block {
  background-color: rgb(125, 241, 125);
}
.img-block {
  background-image: url(../../../../../assets/NotFoundPage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
